<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
<h1 class ="productName"><%=@product.name%></h1>
<p class="prodInventory"><%=@product.inventory%></p>
<p class="prodPrice"> <%=@product.price%></p>
<p class="productDescription"><%=@product.description%></p>
<p class ="prodID"><%=@product.id%></p>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function(){
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/products/" + nextId + "/data", function(data){
        $(".prodID").text(data["id"]);
        $(".productName").text(data["name"]);
        $(".prodInventory").text(data["inventory"]);
        $(".prodPrice").text(data["price"]);
        $(".productDescription").text(data["description"]);
        $(".js-next").attr("data-id", data["id"]);
      });
    });
  });
</script>
